.invocation-failed,  .test-failed  { background-color: #DD0000; }
.invocation-percent, .test-percent { background-color: #006600; }
.invocation-passed,  .test-passed  { background-color: #00AA00; }
.invocation-skipped, .test-skipped { background-color: #CCCC00; }

.main-page {
  font-size: x-large;
}
java --- 1.8
Selenium ---- 3.141.59
commons io --- 2.11.0
testNG   ----- 6.14.3
extent reports ---- 2.41.2
apache ---- 5.0.0
apache poi  --- 5.1.0



Testng  -6.14.3

Selenium- 3.141.59
ExtentReprt-2.41.2
Apache-5.0.0
Maven-3.8.1
Commons io-2.11.0
Java-jdk 1.8


